<div class="alien-instructions">
  <div class="inline-flex tablero-reloj-juego-stars">
    <ng-include class="reloj" src="'/assets/img/reloj.svg'"/>
    <div class="alien-game-timer">
      {{vm.statusBar.timeLeft}}
    </div>
  </div>
  <div class="tablero-instrucciones-juego-alien">
    {{vm.statusBar.currentMessage}}
  </div>
</div>
<div class="alien-grid"  ng-show="vm.enableGame">
  <div class="alien-circle {{circle.circleClass}}" ng-click="vm.circleClick(circle)" ng-repeat="circle in vm.grid" ng-style="circle.style">
    <ng-include class="circle-svg-container" src="'/assets/img/alien-circle.svg'"/>
    <div class="alien {{circle.alienClass}}" ng-if="circle.isAlien">
      <ng-include class="alien-svg-container" src="'/assets/img/alien.svg'"/>
    </div>
  </div>
</div>