<div class="stars-background">
  <img class="stars-background-image" src="/assets/img/stars/stars-background.png">
  <div class="stars-game" ng-if="vm.enableGame">
    <div class="stars-game-panel">
      <ng-include src="'/assets/img/stars/imagen_estrella_' + vm.starsQueue[vm.starsQueueCurrentIndex] + '.svg'"/>
    </div>
    <div class="stars-game-panel-action">
      <div class="star-decision-text">Ves una estrella?</div>
      <br/>
      <div class="star-game-decision-panel">
        <a href="javascript:void(0)" class="star-game-decision-button star-game-decision-block" ng-click="vm.decisionClick(true)">Si</a>
        <div style="width: 14%;">&nbsp;</div>
        <a href="javascript:void(0)" class="star-game-decision-button star-game-decision-block" ng-click="vm.decisionClick(false)">No</a>
      </div>
    </div>
  </div>
  <div class="stars-game" ng-if="!vm.enableGame">
    <div class="stars-game-instructions-panel">
      <div class="stars-game-instructions-text">
        {{vm.statusBar.currentMessage}}
      </div>
    </div>
  </div>
</div>