body {
  background-color: #000;
  font-family: 'Sniglet', cursive;
}

.disable {
  pointer-events: none;
}

.disable-pointer {
  cursor: pointer;
}

.audio-container {
  visibility: hidden;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.pull-right {
  float: right;
}

.game-content {
  width: 920px;
  height: 540px;
  position: relative;
}

.video-container .video-js {
  width: 640px !important;
  height: 320px !important;
}

.video-container {
  width: 640px !important;
  height: 320px !important;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.video-container .next-state-button {
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.game-content .tablero-image {
  position: absolute;
  object-fit:cover;
  left: 0;
  top: 0;
  z-index: -1;
  height: 540px;
}

.relative {
  position: relative;
}

.tablero {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.tablero-ancla {
  margin: auto;
  width: 2px;
  left: 50%;
  top: 50%;
  height: 2px;
}

.tablero-panel {
  position: absolute;
  top: 38%;
  left: 35%;
  padding-left: 10px;
  padding-top: 15px;
  z-index: 0;
}

.tablero-recuadro {
  width: 259px;
  position: absolute;
  left: 6px;
  top: 23px;
}

.tablero-columnas {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 13px;
  padding-top: 24px;
}

.tablero-columna-panel {
  width: 70px;
  text-align: center;
  font-size: 38px;
  padding-left: 0px;
  padding-top: 20px;
  margin-left: 4px;
  z-index: 1;
  cursor: pointer;
}

.tablero-columna-panel:nth-child(2) svg {
  height: 135px;
  margin-top: -8px;
}

.tablero-columna-panel-section {
  width: 70px;
  position: absolute;
  left: 0;
  top: 12px;
  z-index: -1;
}

.tablero-reloj {
  width: 40px;
  display: inline-block;
  margin-right: 13px;
  margin-left: 25px;
}

.tablero-reloj:nth-child(2) {
  transform: rotate(140deg) translate(-23px, -53px);
}

.tablero-reloj-panel {
  position: absolute;
  top: -19px;
  width: 100%;
}

.tablero-reloj-juego {
  width: 100px;
  position: absolute;
  right: 23%;
  top: 32%;
}

.tablero-instrucciones-juego {
  width: 200px;
  position: absolute;
  right: 16%;
  top: 60%;
  background: #9A999E;
  border: 5px solid #E6B54A;
  border-radius: 10px;
  padding: 10px;
}

.tablero-instrucciones-juego .tablero-instrucciones-juego-figura {
  display: inline-block;
}

.color-picker-message {
  position: absolute;
  top: 62px;
  left: 18px;
  width: 65%;
  text-align: center;
}

.colorpicker-video-container {
  width: 30%;
  position: absolute;
  height: 30%;
  left: 35%;
}

.colorpicker-video-container .colorpicker-video-holder {
  height: 100%;
}

.colorpicker-video-container .colorpicker-video-holder .color-picker-video-js {
  height: 200px !important;
  width: 300px !important; 
}

.tablero-columna-panel .color-picker-button {
  height: 35px;
}

.tablero-columna-panel .tablero-boton {
  height: 35px;
}

.tablero-columna-panel.color-set-1 .tablero-boton.circulo svg {
  width: 34px;
  height: 35px;
}
.tablero-columna-panel.color-set-1 .tablero-boton.triangulo svg {
  width: 46px;
  height: 35px;
}

.tablero-columna-panel.color-set-2 .tablero-boton.circulo svg {
  width: 36px;
  height: 35px;
}
.tablero-columna-panel.color-set-2 .tablero-boton.triangulo svg {
  width: 49px;
  height: 35px;
}

.tablero-columna-panel.color-set-3 .tablero-boton.circulo svg {
  width: 34px;
  height: 35px;
}
.tablero-columna-panel.color-set-3 .tablero-boton.triangulo svg {
  width: 44px;
  height: 35px;
}


.tablero-columna-panel.color-set-1 .tablero-boton.circulo.shift-1 {
  position: absolute;
  top: 23px;
  left: 15px;
}
.tablero-columna-panel.color-set-1 .tablero-boton.circulo.shift-2 {
  position: absolute;
  top: 79px;
  left: 15px;
}

.tablero-columna-panel.color-set-1 .tablero-boton.triangulo.shift-1 {
  position: absolute;
  top: 76px;
  left: 11.5px;
}
.tablero-columna-panel.color-set-1 .tablero-boton.triangulo.shift-2 {
  position: absolute;
  top: 15px;
  left: 11px;
}
/**/
.tablero-columna-panel.color-set-2 .tablero-boton.circulo.shift-1 {
  position: absolute;
  top: 84px;
  left: 17px;
}
.tablero-columna-panel.color-set-2 .tablero-boton.circulo.shift-2 {
  position: absolute;
  top: 13px;
  left: 16px;
}

.tablero-columna-panel.color-set-2 .tablero-boton.triangulo.shift-1 {
  position: absolute;
  top: 13px;
  left: 10px;
}
.tablero-columna-panel.color-set-2 .tablero-boton.triangulo.shift-2 {
  position: absolute;
  top: 81px;
  left: 10px;
}

/**/
.tablero-columna-panel.color-set-3 .tablero-boton.circulo.shift-1 {
  position: absolute;
  top: 79px;
  left: 20px;
}
.tablero-columna-panel.color-set-3 .tablero-boton.circulo.shift-2 {
  position: absolute;
  top: 23px;
  left: 20px;
}

.tablero-columna-panel.color-set-3 .tablero-boton.triangulo.shift-1 {
  position: absolute;
  top: 15px;
  left: 16px;
  transform: rotate(2deg);
}
.tablero-columna-panel.color-set-3 .tablero-boton.triangulo.shift-2 {
  position: absolute;
  top: 75px;
  left: 15px;
  transform: rotate(2deg);
}


.game-color-picker-1 .tablero-recuadro svg .st0 {
  fill: #421e1e;
}
/* ====  1st Game color set ==== */

/* color-set-1 */
.game-color-picker-1 .color-set-1 .tablero-boton svg .st0 {
  fill: #bf1745
}
.game-color-picker-1 .color-set-1 .tablero-boton svg .st1 {
  fill: #c6526d
}
.game-color-picker-1 .color-set-1 .tablero-boton svg .st2 {
  fill: #d3818e
}
/* color-set-2 */
.game-color-picker-1 .color-set-2 .tablero-boton.circulo svg .st0 {
  fill: #d19213
}
.game-color-picker-1 .color-set-2 .tablero-boton.circulo svg .st1 {
  fill: #dcae4c
}
.game-color-picker-1 .color-set-2 .tablero-boton.circulo svg .st2 {
  fill: #dcae4c
}


.game-color-picker-1 .color-set-2 .tablero-boton.triangulo svg .st0 {
  fill: #042075
}
.game-color-picker-1 .color-set-2 .tablero-boton.triangulo svg .st1 {
  fill: #476ca6
}
.game-color-picker-1 .color-set-2 .tablero-boton.triangulo svg .st2 {
  fill: #72a0cc
}

/* color-set-3 */
.game-color-picker-1 .color-set-3 .tablero-boton.circulo svg .st0 {
  fill: #7e1557
}
.game-color-picker-1 .color-set-3 .tablero-boton.circulo svg .st1 {
  fill: #b1256f
}
.game-color-picker-1 .color-set-3 .tablero-boton.circulo svg .st2 {
  fill: #dca4c7
}


.game-color-picker-1 .color-set-3 .tablero-boton.triangulo svg .st0 {
  fill: #cb623a
}
.game-color-picker-1 .color-set-3 .tablero-boton.triangulo svg .st1 {
  fill: #d88f6f
}
.game-color-picker-1 .color-set-3 .tablero-boton.triangulo svg .st2 {
  fill: #d88f6f
}



/* ========  1st color set ======== */


.game-color-picker-1 .color-set-1 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_2_);
  fill: #fff;
}

/* ======== 2nd color set ========  */
.game-color-picker-1 .color-set-2 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_4_);
  fill: #fff;
}

/* ======== 3rd color set ======== */
.game-color-picker-1 .color-set-3 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_6_);
  fill: #fff;
}

.game-color-picker-1 .tablero-columna-panel-section svg g g g .st2 {
  fill: #421e1e;
}

.game-color-picker-1 .tablero-columna-panel-section svg g g g .st3 {
  fill: #7c4f51;
}

.game-color-picker-1 .tablero-columna-panel-section svg g g g .st4 {
  fill: #a17972;
}

.game-color-picker-1 .tablero-reloj:nth-child(1) svg .st0 {
  fill: #af7a73;
}

.game-color-picker-1 .tablero-reloj:nth-child(1) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-1 .tablero-reloj:nth-child(2) svg .st0 {
  fill: #ec8a87;
}

.game-color-picker-1 .tablero-reloj:nth-child(2) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-1 .tablero-reloj:nth-child(3) svg .st0 {
  fill: #8d9350;
}

.game-color-picker-1 .tablero-reloj:nth-child(3) svg .st1 {
  fill: #df2a45;
}


/* ====  2nd Game color set ==== */
/* ========  1st color set ======== */
.game-color-picker-2 .tablero-recuadro svg .st0 {
  fill: #8d9254;
}


.game-color-picker-2 .color-set-1 div:nth-child(2) {
  color: #ed2a1f;
}

.game-color-picker-2 .color-set-1 div:nth-child(3) {
  color: #ff9288
}

.game-color-picker-2 .color-set-1 div:nth-child(4) {
  color: #ff5f5a
}

/* ======== 2nd color set ========  */


.game-color-picker-2 .color-set-1 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_2_);
  fill: #fff;
}

/* ======== 2nd color set ========  */
.game-color-picker-2 .color-set-2 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_4_);
  fill: #fff;
}

/* ======== 3rd color set ======== */
.game-color-picker-2 .color-set-3 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_6_);
  fill: #fff;
}

.game-color-picker-2 .tablero-columna-panel-section svg g g rect.st1 {
  fill: #fff;
}

.game-color-picker-2 .tablero-columna-panel-section svg g g g .st2 {
  fill: #8d9254;
}

.game-color-picker-2 .tablero-columna-panel-section svg g g g .st3 {
  fill: #a48432;
}

.game-color-picker-2 .tablero-columna-panel-section svg g g g .st4 {
  fill: #d8ad5d;
}


.game-color-picker-2 .tablero-reloj:nth-child(1) svg .st0 {
  fill: #af7a73;
}

.game-color-picker-2 .tablero-reloj:nth-child(1) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-2 .tablero-reloj:nth-child(2) svg .st0 {
  fill: #ec8a87;
}

.game-color-picker-2 .tablero-reloj:nth-child(2) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-2 .tablero-reloj:nth-child(3) svg .st0 {
  fill: #8d9350;
}

.game-color-picker-2 .tablero-reloj:nth-child(3) svg .st1 {
  fill: #df2a45;
}

/* color-set-1 */
.game-color-picker-2 .color-set-1 .tablero-boton svg .st0 {
  fill: #bf1745
}
.game-color-picker-2 .color-set-1 .tablero-boton svg .st1 {
  fill: #c6526d
}
.game-color-picker-2 .color-set-1 .tablero-boton svg .st2 {
  fill: #d3818e
}
/* color-set-2 */
.game-color-picker-2 .color-set-2 .tablero-boton.circulo svg .st0 {
  fill: #bf1745
}
.game-color-picker-2 .color-set-2 .tablero-boton.circulo svg .st1 {
  fill: #c6526d
}
.game-color-picker-2 .color-set-2 .tablero-boton.circulo svg .st2 {
  fill: #d3818e
}


.game-color-picker-2 .color-set-2 .tablero-boton.triangulo svg .st0 {
  fill: #042075
}
.game-color-picker-2 .color-set-2 .tablero-boton.triangulo svg .st1 {
  fill: #476ca6
}
.game-color-picker-2 .color-set-2 .tablero-boton.triangulo svg .st2 {
  fill: #72a0cc
}

/* color-set-3 */
.game-color-picker-2 .color-set-3 .tablero-boton.circulo svg .st0 {
  fill: #7e1557
}
.game-color-picker-2 .color-set-3 .tablero-boton.circulo svg .st1 {
  fill: #b1256f
}
.game-color-picker-2 .color-set-3 .tablero-boton.circulo svg .st2 {
  fill: #dca4c7
}


.game-color-picker-2 .color-set-3 .tablero-boton.triangulo svg .st0 {
  fill: #cb623a
}
.game-color-picker-2 .color-set-3 .tablero-boton.triangulo svg .st1 {
  fill: #d88f6f
}
.game-color-picker-2 .color-set-3 .tablero-boton.triangulo svg .st2 {
  fill: #d88f6f
}


/* ====  3rd Game color set ==== */
/* ========  1st color set ======== */
.game-color-picker-3 .tablero-recuadro svg .st0 {
  fill: #d58886;
}

.game-color-picker-3 .color-set-1 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_2_);
  fill: #fff;
}

/* ======== 2nd color set ========  */
.game-color-picker-3 .color-set-2 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_4_);
  fill: #fff;
}

/* ======== 3rd color set ======== */
.game-color-picker-3 .color-set-3 .tablero-columna-panel-section svg .st0{
  clip-path:url(#SVGID_6_);
  fill: #fff;
}

.game-color-picker-3 .tablero-columna-panel-section svg g g g .st2 {
  fill: #d58886;
}

.game-color-picker-3 .tablero-columna-panel-section svg g g g .st3 {
  fill: #e4ae23;
}

.game-color-picker-3 .tablero-columna-panel-section svg g g g .st4 {
  fill: #c32635;
}

.game-color-picker-3 .tablero-reloj:nth-child(1) svg .st0 {
  fill: #af7a73;
}

.game-color-picker-3 .tablero-reloj:nth-child(1) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-3 .tablero-reloj:nth-child(2) svg .st0 {
  fill: #ec8a87;
}

.game-color-picker-3 .tablero-reloj:nth-child(2) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-3 .tablero-reloj:nth-child(3) svg .st0 {
  fill: #8d9350;
}

.game-color-picker-3 .tablero-reloj:nth-child(3) svg .st1 {
  fill: #df2a45;
}

/* color-set-1 */
.game-color-picker-3 .color-set-1 .tablero-boton.circulo svg .st0 {
  fill: #042075
}
.game-color-picker-3 .color-set-1 .tablero-boton.circulo svg .st1 {
  fill: #476ca6
}
.game-color-picker-3 .color-set-1 .tablero-boton.circulo svg .st2 {
  fill: #72a0cc
}


.game-color-picker-3 .color-set-1 .tablero-boton.triangulo svg .st0 {
  fill: #042075
}
.game-color-picker-3 .color-set-1 .tablero-boton.triangulo svg .st1 {
  fill: #476ca6
}
.game-color-picker-3 .color-set-1 .tablero-boton.triangulo svg .st2 {
  fill: #72a0cc
}

/* color-set-2 */
.game-color-picker-3 .color-set-2 .tablero-boton.circulo svg .st0 {
  fill: #4f7a36;
}
.game-color-picker-3 .color-set-2 .tablero-boton.circulo svg .st1 {
  fill: #709555;
}
.game-color-picker-3 .color-set-2 .tablero-boton.circulo svg .st2 {
  fill: #9fa95f;
}


.game-color-picker-3 .color-set-2 .tablero-boton.triangulo svg .st0 {
  fill: #042075
}
.game-color-picker-3 .color-set-2 .tablero-boton.triangulo svg .st1 {
  fill: #476ca6
}
.game-color-picker-3 .color-set-2 .tablero-boton.triangulo svg .st2 {
  fill: #72a0cc
}

/* color-set-3 */
.game-color-picker-3 .color-set-3 .tablero-boton.circulo svg .st0 {
  fill: #4f7a36;
}
.game-color-picker-3 .color-set-3 .tablero-boton.circulo svg .st1 {
  fill: #709555;
}
.game-color-picker-3 .color-set-3 .tablero-boton.circulo svg .st2 {
  fill: #9fa95f;
}


.game-color-picker-3 .color-set-3 .tablero-boton.triangulo svg .st0 {
  fill: #4f7a36;
}
.game-color-picker-3 .color-set-3 .tablero-boton.triangulo svg .st1 {
  fill: #709555;
}
.game-color-picker-3 .color-set-3 .tablero-boton.triangulo svg .st2 {
  fill: #9fa95f;
}

/**
** STARS GAME **
**/

.stars-background {
  width: 100%;
  height: 100%;
}

.stars-background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.stars-grid {
  width: 90%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.star-div {
  display: inline-flex;
}

.stars-instructions {
  height: 25%;
  display: flex;
}

.stars-instructions .star-tip {
  align-self: center;
  width: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.stars-instructions .star-bar-message {
  width: 100%;
  color: #000;
  font-size: 30px;
  align-self: center;
  text-align: left;
  padding-left: 30px;
  margin: 0;
}


.arrow-right {
  width: 0; 
  height: 0;
  display: inline-flex;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid #E6B54A;
  margin-left: 20px;
  margin-top: 20px;
}

.stargame-element {
  display: block;
  position: relative;
  z-index: 0;
}

.star-div .circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.star-div .star svg {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.tablero-instrucciones-juego-stars {
  width: 70%;
  background: #9A999E;
  border: 5px solid #E6B54A;
  border-radius: 10px;
  padding: 10px;
}

.tablero-reloj-juego-stars .reloj {
  width: 100px;
  position: absolute;
  top: 0;
}

.tablero-reloj-juego-stars .star-game-timer {
  color: #000;
  font-size: 20px;
  z-index: 1;
  text-align: center;
  width: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 30px;
}


.stars-game {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.stars-game-panel {
  border-radius: 5px;
  width: 71%;
  height: 90%;
  padding: 10px;
  margin-top: 20px;
}
.stars-game-panel-action {
  width: 50%;
  height: 50%;
  color: #fff;
  align-self: center;
  text-align: center;
}

.star-game-decision-panel {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.star-game-decision-block {
  width: 43%;
  padding: 10px;
}

.star-game-decision-button {
  background: url(/assets/img/stars/action-button.svg) no-repeat;
  color: #fff;
  font-size: 40px;
  height: 90px;
}

.star-game-decision-button:hover {
  color: #ddd;
  text-decoration: none;
}

.star-decision-text {
  background-color: #fff;
  height: 80px;
  border-radius: 33px;
  color: #000;
  width: 70%;
  margin: auto;
  font-size: 25px;
  line-height: 80px;
}

.stars-game-instructions-panel {
  width: 60%;
  height: 100%;
  padding: 50px;
  font-size: 60px;
  position: relative;
}

.stars-game-instructions-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* star-colors-1 */

.star-colors-1 .star-color-set-1 svg path.st0 {
  fill: #8b5051;
}

.star-colors-1 .star-color-set-2 svg path.st0 {
  fill: #e3526f;
}

.star-colors-1 .star-color-set-3 svg path.st0 {
  fill: #af7a73;
}

.star-colors-1 .star-color-set-4 svg path.st0 {
  fill: #491f1a;
}

.star-colors-1 .circle.star-color-set-1 {
  background-color: #af7a73;
}

.star-colors-1 .circle.star-color-set-2 {
  background-color: #8b5051;
}

/* star-colors-2 */

.star-colors-2 .star-color-set-1 svg path.st0 {
  fill: #ee8b25;
}

.star-colors-2 .star-color-set-2 svg path.st0 {
  fill: #5d9750;
}

.star-colors-2 .star-color-set-3 svg path.st0 {
  fill: #ec8a87;
}


.star-colors-2 .circle.star-color-set-1 {
  background-color: #e55b5d;
}

.star-colors-2 .circle.star-color-set-2 {
  background-color: #ec8a87;
}

.star-colors-2 .circle.star-color-set-3 {
  background-color: #ee8b25;
}

.star-colors-2 .circle.star-color-set-4 {
  background-color: #f5af19;
}

/* star-colors-3 */

.star-colors-3 .star-color-set-1 svg path.st0 {
  fill: #e76336;
}

.star-colors-3 .star-color-set-2 svg path.st0 {
  fill: #5d9750;
}

.star-colors-3 .star-color-set-3 svg path.st0 {
  fill: #d5ba7d;
}

.star-colors-3 .star-color-set-4 svg path.st0 {
  fill: #b0852b;
}

.star-colors-3 .star-color-set-5 svg path.st0 {
  fill: #8d9350;
}

.star-colors-3 .circle.star-color-set-1 {
  background-color: #8d9350;
}

.star-colors-3 .circle.star-color-set-2 {
  background-color: #d5ba7d;
}

.star-colors-3 .circle.star-color-set-3 {
  background-color: #e8ae58;
}


/*  ALIENS */
.alien-instructions {
  width: 100%;
  height: 25%;
  display: flex;
}

.alien-instructions .alien-game-timer {
  color: #000;
  font-size: 20px;
  z-index: 1;
  text-align: center;
  width: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 60px;
}

.alien-instructions .tablero-instrucciones-juego-alien {
  min-width: 70%;
  background: #9A999E;
  border: 5px solid #E6B54A;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  flex-grow: 1;
  height: 40%;
  text-align: center;
  margin: 20px;
}

.alien-grid {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  z-index: 0;
}

.alien-grid .alien-circle {
  position: relative;
  text-align: center;
  cursor: pointer;
}


.alien-grid .alien-circle .circle-svg-container svg {
  width: 70%;
}

.alien-grid .alien-circle .alien {
  z-index: 1;
  position: absolute;
  top: 11%;
  left: 12%;
  width: 80%;
  height: 80%;
}

.alien-grid .alien-circle .alien .alien-svg-container svg {
  width: 42%; 
}


.alien-grid .alien-circle .circle-svg-container svg .st0CirculoAlien,
.alien-grid .alien-circle .circle-svg-container svg .st0CirculoSilueta {
  fill: #fff;
}

.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st1CirculoAlien,
.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st1CirculoSilueta {
  fill: #8d9254;
}

.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st2CirculoAlien,
.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st2CirculoSilueta {
  fill: #a48432;
}

.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st3CirculoAlien,
.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st3CirculoSilueta {
  fill: #d8ad5d;
}

.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st1CirculoAlien,
.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st1CirculoSilueta {
  fill: #a60d50;
}

.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st2CirculoAlien,
.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st2CirculoSilueta {
  fill: #b1256f;
}

.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st3CirculoAlien,
.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st3CirculoSilueta {
  fill: #7e1557;
}

.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st1CirculoAlien,
.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st1CirculoSilueta {
  fill: #421e1e;
}

.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st2CirculoAlien,
.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st2CirculoSilueta {
  fill: #a17972;
}

.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st3CirculoAlien,
.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st3CirculoSilueta {
  fill: #7c4f51;
}

.alien-grid .alien-circle .alien.alien-color-set-1 .alien-svg-container svg .alienSt1 {
  fill: #c75562;
}
.alien-grid .alien-circle .alien.alien-color-set-1 .alien-svg-container svg .alienSt2 {
  fill: #c32636;
}
.alien-grid .alien-circle .alien.alien-color-set-1 .alien-svg-container svg .alienSt3 {
  fill: #cd6e74;
}


.alien-grid .alien-circle .alien.alien-color-set-2 .alien-svg-container svg .alienSt1 {
  fill: #dcae4c;
}
.alien-grid .alien-circle .alien.alien-color-set-2 .alien-svg-container svg .alienSt2 {
  fill: #d3d02a;
}
.alien-grid .alien-circle .alien.alien-color-set-2 .alien-svg-container svg .alienSt3 {
  fill: #d19213;
}

.alien-grid .alien-circle .alien.alien-color-set-3 .alien-svg-container svg .alienSt1 {
  fill: #cb623a;
}
.alien-grid .alien-circle .alien.alien-color-set-3 .alien-svg-container svg .alienSt2 {
  fill: #cb623a;
}
.alien-grid .alien-circle .alien.alien-color-set-3 .alien-svg-container svg .alienSt3 {
  fill: #d88f6f;
}

.alien-grid .alien-circle .alien.alien-color-set-4 .alien-svg-container svg .alienSt1 {
  fill: #72a0cc;
}
.alien-grid .alien-circle .alien.alien-color-set-4 .alien-svg-container svg .alienSt2 {
  fill: #042075;
}
.alien-grid .alien-circle .alien.alien-color-set-4 .alien-svg-container svg .alienSt3 {
  fill: #476ca6;
}



/* Menu page */
.menu-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
}

.result-color-picker-section {
  position: relative;
}

.result-color-picker-section svg {
  width: 40px;
  position: relative;
}

.color-picker-results-details-panel {
  justify-content: space-evenly;
}

.color-picker-result-icon {
  position: absolute;
  left: 10px;
}

.color-picker-result-icon:nth-child(2) {
  top: 20px;
}

.color-picker-result-icon:nth-child(3) {
  top: 40px;
}

.color-picker-result-icon:nth-child(4) {
  top: 60px;
}

.color-picker-result-icon.icon-target::before {
  border: 1px solid blueviolet;
  border-radius: 50%;
}

.color-picker-result-icon.icon-match {
  border: 3px solid greenyellow;
  border-radius: 50%;
}

.mini-star-container .star svg {
  width: 30px !important;
}

.results-container {
  height: 100%;
}

.results-first {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.results-container-first {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.results-second {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.results-container-second {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.view-results-button {
  color: #fff;
  font-size: 38px;
  background: url(/assets/img/results/view.svg) no-repeat;
  background-size: cover;
  width: 40%;
  height: 196px;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
}

.result-container {
  width: 60%;
  height: 200px;
  color: #fff;
  border-radius: 70px;
  background-color: #e6b548;
  height: 150px;
  padding: 40px;
  margin-bottom: 25px;
  position: absolute;
  top: 50px;
}

.result-info-container {
  width: 55%;
  height: 55%;
  color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #56958f;
  padding: 35px;
  position: absolute;
  bottom: 0;
  font-size: 28px;
}

.result-info-link {
  background-color: #89b5b1;
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.result-info-link a {
  color: #fff !important;
}
.result-info-link a:hover {
  color: #d3d3d3 !important;
}

.result-container.colorblind {
  background-color: #be4e36 !important;
}

.play-again {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
}