body {
  background-color: #000;
  font-family: 'Sniglet', cursive;
}

.disable-pointer {
  cursor: pointer;
}

.audio-container {
  visibility: hidden;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.pull-right {
  float: right;
}

.game-content {
  width: 920px;
  height: 540px;
  position: relative;
}

.video-container .video-js {
  width: 640px !important;
  height: 320px !important;
}

.video-container {
  width: 640px !important;
  height: 320px !important;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.video-container .next-state-button {
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.game-content .tablero-image {
  position: absolute;
  object-fit:cover;
  left: 0;
  top: 0;
  z-index: -1;
  height: 540px;
}

.relative {
  position: relative;
}

.tablero {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.tablero-ancla {
  margin: auto;
  width: 2px;
  left: 50%;
  top: 50%;
  height: 2px;
}

.tablero-panel {
  position: absolute;
  top: 38%;
  left: 35%;
  padding-left: 10px;
  padding-top: 15px;
  z-index: 0;
}

.tablero-recuadro {
  width: 259px;
  position: absolute;
  left: 6px;
  top: 23px;
}

.tablero-columnas {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 13px;
  padding-top: 24px;
}

.tablero-columna-panel {
  width: 70px;
  text-align: center;
  font-size: 38px;
  padding-left: 0px;
  padding-top: 20px;
  margin-left: 4px;
  z-index: 1;
  cursor: pointer;
}

.tablero-columna-panel:nth-child(2) svg {
  height: 135px;
  margin-top: -8px;
}

.tablero-columna-panel-section {
  width: 70px;
  position: absolute;
  left: 0;
  top: 12px;
  z-index: -1;
}

.tablero-reloj {
  width: 40px;
  display: inline-block;
  margin-right: 13px;
  margin-left: 25px;
}

.tablero-reloj:nth-child(2) {
  transform: rotate(140deg) translate(-23px, -53px);
}

.tablero-reloj-panel {
  position: absolute;
  top: -19px;
  width: 100%;
}

.tablero-reloj-juego {
  width: 100px;
  position: absolute;
  right: 23%;
  top: 32%;
}

.tablero-instrucciones-juego {
  width: 200px;
  position: absolute;
  right: 13%;
  top: 60%;
  background: #9A999E;
  border: 5px solid #E6B54A;
  border-radius: 10px;
  padding: 10px;
}

.tablero-instrucciones-juego .tablero-instrucciones-juego-figura {
  display: inline-block;
}

.color-picker-message {
  position: absolute;
  top: 62px;
  left: 18px;
  width: 65%;
  text-align: center;
}

.colorpicker-video-container {
  width: 30%;
  position: absolute;
  height: 30%;
  left: 35%;
}

.colorpicker-video-container .colorpicker-video-holder {
  height: 100%;
}

.colorpicker-video-container .colorpicker-video-holder .color-picker-video-js {
  height: 200px !important;
  width: 300px !important; 
}

/* ====  1st Game color set ==== */
/* ========  1st color set ======== */
.game-color-picker-1 .tablero-recuadro svg .st0 {
  fill: #8d9350;
}


.game-color-picker-1 .color-set-1 .result-container,
.game-color-picker-1 .color-set-1 .tablero-columna-panel-section svg polygon.st0 {
  fill: #b0852b;
}

.game-color-picker-1 .color-set-1 div:nth-child(2) {
  color: #ef9c8c;
}

.game-color-picker-1 .color-set-1 div:nth-child(3) {
  color: #e76d76
}

.game-color-picker-1 .color-set-1 div:nth-child(4) {
  color: #8d9350
}

.game-color-picker-1 .tablero-reloj:nth-child(1) svg .st0 {
  fill: #af7a73;
}

.game-color-picker-1 .tablero-reloj:nth-child(1) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-1 .tablero-reloj:nth-child(2) svg .st0 {
  fill: #ec8a87;
}

.game-color-picker-1 .tablero-reloj:nth-child(2) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-1 .tablero-reloj:nth-child(3) svg .st0 {
  fill: #8d9350;
}

.game-color-picker-1 .tablero-reloj:nth-child(3) svg .st1 {
  fill: #df2a45;
}


/* ======== 2nd color set ========  */
.game-color-picker-1 .color-set-2 .result-container,
.game-color-picker-1 .color-set-2 .tablero-columna-panel-section svg polygon.st0 {
  fill: #e8ae58;
}

.game-color-picker-1 .color-set-2 div:nth-child(2) {
  color: #ee916e;
}

.game-color-picker-1 .color-set-2 div:nth-child(3) {
  color: #e76336
}

.game-color-picker-1 .color-set-2 div:nth-child(4) {
  color: #d5ba7d
}

/* ======== 3rd color set ======== */
.game-color-picker-1 .color-set-3 .result-container,
.game-color-picker-1 .color-set-3 .tablero-columna-panel-section svg polygon.st0 {
  fill: #d5ba7d;
}

.game-color-picker-1 .color-set-3 div:nth-child(2) {
  color: #e8ae58;
}

.game-color-picker-1 .color-set-3 div:nth-child(3) {
  color: #ef9c8c
}

.game-color-picker-1 .color-set-3 div:nth-child(4) {
  color: #ee916e
}



/* ====  2nd Game color set ==== */
/* ========  1st color set ======== */
.game-color-picker-2 .tablero-recuadro svg .st0 {
  fill: #ff9400;
}

.game-color-picker-2 .color-set-1 .result-container,
.game-color-picker-2 .color-set-1 .tablero-columna-panel-section svg polygon.st0 {
  fill: #a4ae60;
}

.game-color-picker-2 .color-set-1 div:nth-child(2) {
  color: #ed2a1f;
}

.game-color-picker-2 .color-set-1 div:nth-child(3) {
  color: #ff9288
}

.game-color-picker-2 .color-set-1 div:nth-child(4) {
  color: #ff5f5a
}

/* ======== 2nd color set ========  */
.game-color-picker-2 .color-set-2 .result-container,
.game-color-picker-2 .color-set-2 .tablero-columna-panel-section svg polygon.st0 {
  fill: #ff9288;
}

.game-color-picker-2 .color-set-2 div:nth-child(2) {
  color: #ffba00;
}

.game-color-picker-2 .color-set-2 div:nth-child(3) {
  color: #ff5f5a
}

.game-color-picker-2 .color-set-2 div:nth-child(4) {
  color: #a4ae60
}

/* ======== 3rd color set ======== */
.game-color-picker-2 .color-set-3 .result-container,
.game-color-picker-2 .color-set-3 .tablero-columna-panel-section svg polygon.st0 {
  fill: #ed2a1f;
}

.game-color-picker-2 .color-set-3 div:nth-child(2) {
  color: #517f35;
}

.game-color-picker-2 .color-set-3 div:nth-child(3) {
  color: #a4ae60
}

.game-color-picker-2 .color-set-3 div:nth-child(4) {
  color: #ffba00
}


.game-color-picker-2 .tablero-reloj:nth-child(1) svg .st0 {
  fill: #af7a73;
}

.game-color-picker-2 .tablero-reloj:nth-child(1) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-2 .tablero-reloj:nth-child(2) svg .st0 {
  fill: #ec8a87;
}

.game-color-picker-2 .tablero-reloj:nth-child(2) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-2 .tablero-reloj:nth-child(3) svg .st0 {
  fill: #8d9350;
}

.game-color-picker-2 .tablero-reloj:nth-child(3) svg .st1 {
  fill: #df2a45;
}





/* ====  3rd Game color set ==== */
/* ========  1st color set ======== */
.game-color-picker-3 .tablero-recuadro svg .st0 {
  fill: #42231f;
}

.game-color-picker-3 .color-set-1 .result-container,
.game-color-picker-3 .color-set-1 .tablero-columna-panel-section svg polygon.st0 {
  fill: #a57b74;
}

.game-color-picker-3 .color-set-1 div:nth-child(2) {
  color: #ff5763;
}

.game-color-picker-3 .color-set-1 div:nth-child(3) {
  color: #ff1e10
}

.game-color-picker-3 .color-set-1 div:nth-child(4) {
  color: #ff7577
}

/* ======== 2nd color set ========  */
.game-color-picker-3 .color-set-2 .result-container,
.game-color-picker-3 .color-set-2 .tablero-columna-panel-section svg polygon.st0 {
  fill: #7f5152;
}

.game-color-picker-3 .color-set-2 div:nth-child(2) {
  color: #ff8a93;
}

.game-color-picker-3 .color-set-2 div:nth-child(3) {
  color: #a57b74
}

.game-color-picker-3 .color-set-2 div:nth-child(4) {
  color: #ff7577
}

/* ======== 3rd color set ======== */
.game-color-picker-3 .color-set-3 .result-container,
.game-color-picker-3 .color-set-3 .tablero-columna-panel-section svg polygon.st0 {
  fill: #a57b74;
}

.game-color-picker-3 .color-set-3 div:nth-child(2) {
  color: #ce2146;
}

.game-color-picker-3 .color-set-3 div:nth-child(3) {
  color: #ff5371
}

.game-color-picker-3 .color-set-3 div:nth-child(4) {
  color: #ff8a93
}


.game-color-picker-3 .tablero-reloj:nth-child(1) svg .st0 {
  fill: #af7a73;
}

.game-color-picker-3 .tablero-reloj:nth-child(1) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-3 .tablero-reloj:nth-child(2) svg .st0 {
  fill: #ec8a87;
}

.game-color-picker-3 .tablero-reloj:nth-child(2) svg .st1 {
  fill: #df2a45;
}

.game-color-picker-3 .tablero-reloj:nth-child(3) svg .st0 {
  fill: #8d9350;
}

.game-color-picker-3 .tablero-reloj:nth-child(3) svg .st1 {
  fill: #df2a45;
}




.stars-background {
  width: 100%;
  height: 100%;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005fa9+0,191a1a+100 */
  background: #005fa9; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #005fa9 0%, #191a1a 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #005fa9 0%,#191a1a 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #005fa9 0%,#191a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fa9', endColorstr='#191a1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.stars-grid {
  width: 90%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.star-div {
  display: inline-flex;
}

.stars-instructions {
  height: 25%;
  display: flex;
}

.stars-instructions .star-tip {
  align-self: center;
  width: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.stars-instructions .star-bar-message {
  width: 100%;
  color: #000;
  font-size: 30px;
  align-self: center;
  text-align: left;
  padding-left: 30px;
  margin: 0;
}


.arrow-right {
  width: 0; 
  height: 0;
  display: inline-flex;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid #E6B54A;
  margin-left: 20px;
  margin-top: 20px;
}

.stargame-element {
  display: block;
  position: relative;
  z-index: 0;
}

.star-div .circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.star-div .star svg {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.tablero-instrucciones-juego-stars {
  width: 70%;
  background: #9A999E;
  border: 5px solid #E6B54A;
  border-radius: 10px;
  padding: 10px;
}

.tablero-reloj-juego-stars .reloj {
  width: 100px;
  position: absolute;
  top: 0;
}

.tablero-reloj-juego-stars .star-game-timer {
  color: #000;
  font-size: 20px;
  z-index: 1;
  text-align: center;
  width: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 30px;
}



/* star-colors-1 */

.star-colors-1 .star-color-set-1 svg path.st0 {
  fill: #8b5051;
}

.star-colors-1 .star-color-set-2 svg path.st0 {
  fill: #e3526f;
}

.star-colors-1 .star-color-set-3 svg path.st0 {
  fill: #af7a73;
}

.star-colors-1 .star-color-set-4 svg path.st0 {
  fill: #491f1a;
}

.star-colors-1 .circle.star-color-set-1 {
  background-color: #af7a73;
}

.star-colors-1 .circle.star-color-set-2 {
  background-color: #8b5051;
}

/* star-colors-2 */

.star-colors-2 .star-color-set-1 svg path.st0 {
  fill: #ee8b25;
}

.star-colors-2 .star-color-set-2 svg path.st0 {
  fill: #5d9750;
}

.star-colors-2 .star-color-set-3 svg path.st0 {
  fill: #ec8a87;
}


.star-colors-2 .circle.star-color-set-1 {
  background-color: #e55b5d;
}

.star-colors-2 .circle.star-color-set-2 {
  background-color: #ec8a87;
}

.star-colors-2 .circle.star-color-set-3 {
  background-color: #ee8b25;
}

.star-colors-2 .circle.star-color-set-4 {
  background-color: #f5af19;
}

/* star-colors-3 */

.star-colors-3 .star-color-set-1 svg path.st0 {
  fill: #e76336;
}

.star-colors-3 .star-color-set-2 svg path.st0 {
  fill: #5d9750;
}

.star-colors-3 .star-color-set-3 svg path.st0 {
  fill: #d5ba7d;
}

.star-colors-3 .star-color-set-4 svg path.st0 {
  fill: #b0852b;
}

.star-colors-3 .star-color-set-5 svg path.st0 {
  fill: #8d9350;
}

.star-colors-3 .circle.star-color-set-1 {
  background-color: #8d9350;
}

.star-colors-3 .circle.star-color-set-2 {
  background-color: #d5ba7d;
}

.star-colors-3 .circle.star-color-set-3 {
  background-color: #e8ae58;
}


/*  ALIENS */
.alien-instructions {
  width: 100%;
  height: 25%;
  display: flex;
}

.alien-instructions .alien-game-timer {
  color: #000;
  font-size: 20px;
  z-index: 1;
  text-align: center;
  width: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 60px;
}

.alien-instructions .tablero-instrucciones-juego-alien {
  min-width: 70%;
  background: #9A999E;
  border: 5px solid #E6B54A;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  flex-grow: 1;
  height: 40%;
  text-align: center;
  margin: 20px;
}

.alien-grid {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  z-index: 0;
}

.alien-grid .alien-circle {
  position: relative;
  text-align: center;
  cursor: pointer;
}


.alien-grid .alien-circle .circle-svg-container svg {
  width: 70%;
}

.alien-grid .alien-circle .alien {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.alien-grid .alien-circle .alien .alien-svg-container svg {
  width: 40%; 
}


.alien-grid .alien-circle.circle-color-set-1 .circle-svg-container svg .st0 {
  fill: #6b327e;
}

.alien-grid .alien-circle.circle-color-set-2 .circle-svg-container svg .st0 {
  fill: #f6b73e;
}

.alien-grid .alien-circle.circle-color-set-3 .circle-svg-container svg .st0 {
  fill: #b0852b;
}

.alien-grid .alien-circle.circle-color-set-4 .circle-svg-container svg .st0 {
  fill: #af7a73;
}

.alien-grid .alien-circle.circle-color-set-5 .circle-svg-container svg .st0 {
  fill: #e76115;
}

.alien-grid .alien-circle.circle-color-set-6 .circle-svg-container svg .st0 {
  fill: #649563;
}

.alien-grid .alien-circle.circle-color-set-7 .circle-svg-container svg .st0 {
  fill: #57acde;
}

.alien-grid .alien-circle.circle-color-set-8 .circle-svg-container svg .st0 {
  fill: #e3526f;
}

.alien-grid .alien-circle .alien.alien-color-set-1 .alien-svg-container svg .st1 {
  fill: #e3526f;
}

.alien-grid .alien-circle .alien.alien-color-set-2 .alien-svg-container svg .st1 {
  fill: #f6b73e;
}

.alien-grid .alien-circle .alien.alien-color-set-3 .alien-svg-container svg .st1 {
  fill: #ee9272;
}

.alien-grid .alien-circle .alien.alien-color-set-4 .alien-svg-container svg .st1 {
  fill: #6b327e;
}

.alien-grid .alien-circle .alien.alien-color-set-5 .alien-svg-container svg .st1 {
  fill: #649563;
}

.alien-grid .alien-circle .alien.alien-color-set-6 .alien-svg-container svg .st1 {
  fill: #e76336;
}

/* Menu page */
.menu-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
}

.result-color-picker-section {
  position: relative;
}

.result-color-picker-section svg {
  width: 40px;
  position: relative;
}

.color-picker-results-details-panel {
  justify-content: space-evenly;
}

.color-picker-result-icon {
  position: absolute;
  left: 10px;
}

.color-picker-result-icon:nth-child(2) {
  top: 20px;
}

.color-picker-result-icon:nth-child(3) {
  top: 40px;
}

.color-picker-result-icon:nth-child(4) {
  top: 60px;
}

.color-picker-result-icon.icon-target::before {
  border: 1px solid blueviolet;
  border-radius: 50%;
}

.color-picker-result-icon.icon-match {
  border: 3px solid greenyellow;
  border-radius: 50%;
}

.mini-star-container .star svg {
  width: 30px !important;
}